body {
    background-image: url(../imgs/background.jpg);
    background-color: #cccccc;
 
   }


i.fas.fa-question-circle:hover{
    color: gold;
}


.table{
    height: auto;
    border-width: 7px;
    border-style: ridge;
    border-color: #af1818;
    border-radius: 20px 20px 150px 150px;
    background-color: green;
    position: relative;
}

/*
.card{

    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-style: outset;
    border-radius: 5px 5px 2px 2px;
    position: absolute;

}*/


.btn1{
    width: 100px;
    height: auto;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(179, 42, 18);
    color: floralwhite;

}

.btn1:hover{
    color: #fdfdfd;
    background: #2196f3;
    box-shadow: 0 0 5px #2196f3, 0 0 20px #2196f3, 0 0 5px #2196f3;
}


img{
    max-width: 90px;
    margin: 1%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.wiskey:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}